notebooks/.ipynb_checkpoints
notebooks_attic/.ipynb_checkpoints
data/
results/

# trash files
*.py~
*.py.un~
*.pyc
*.un~

# more trash
*.ps
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.eps
#*.pdf
*.svg
#*.png
#*.bib
*.xml
.*.swp
*.o
*.tar.gz
*.npy
*.pkl

\#*\#
.\#*
*~

DEADJOE
